@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Syne:wght@400;500;600;700;800&display=swap");

/* Global Styles */
:root { --white: #faebd7;
  --bg: ; #1f242c; */ }

div {
  border: 1px solid green;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1f242c;
}

body {
  font-family: "Inter", sans-serif;
  color: #faebd7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

p { font-family: "Inter", sans-serif;
}

.emph {
  font-style: italic;
}

/* Navigation Styles*/

.logo a{
  font-size: 38px;
}

.navbar {
  width: 100%;
  background-color: transparent;
  }

.navbar a {
color: var(--white);
}

/* Hero Jumbotron Styles*/

.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 0 50px; */
  background: url(/assets/images/kukai-art-5PXqfK9WEYo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow:hidden;
  line-height: 0;
}

.hero-divider svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 150px;
}

.hero-divider .shape-fill {
  fill: #1f242c;
}

/* About Section styles */

/* Work Styles */

.card {
  box-shadow: rgb(20, 20, 20) 0px 20px 30px -10px;
  height: 500px;
}

.card-img {
  max-height: 400px;
    min-height: 400px;
    width: 100%;
    object-fit: cover;
}

/* #c1 {
  background-image: url("/assets/images/travelcali.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  
}

.c2 {
  background-image: url("/assets/images/HoriseonScreenCap.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow:hidden;
}

.c3 {
  background-image: url("/assets/images/02-portfolio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  }

.c4 {
  background-image: url("/assets/images/travelcali.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.c5 {
  background-image: url("/assets/images/travelcali.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.c6 {
  background-image: url("/assets/images/travelcali.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
} */

.btn-outline-light {
  border-color: var(--white);
  color: var(--white);
}

.btn-outline-light:hover{
  background-color: var(--white);
  color: rgba(0, 0, 0, 0.9);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  outline: solid 1px var(--white);
  outline-offset: -12px;

  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s;
}

.card-img-overlay--blur {
  backdrop-filter: blur(5px);
}

.card-img-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.card-img-overlay:hover {
  opacity: 1;
}

.card-img-overlay:hover > * {
  transform: translateY(0);
}

/* Contact Styles */
